[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Penguins
Name[ca]=Pingüins
Name[cs]=Tučňáci
Name[de]=Pinguine
Name[el]=Πιγκουίνοι
Name[eo]=Pingvenoj
Name[es]=Pingüinos
Name[fi]=Pingviinit
Name[gl]=Pingüíns
Name[hu]=Pingvinek
Name[ja]=ペンギン
Name[ko]=펭귄
Name[lt]=Pingvinai
Name[ms]=Penguin
Name[pl]=Pingwiny
Name[pt]=Pinguins
Name[ru]=Пингвины
Name[sr]=Пингвини
Name[tr]=Penguenler
Comment=Module to display fancy penguins walking around your desktop.
Comment[ca]=Mòdul per mostrar pingüins que caminen al voltant del seu escriptori.
Comment[cs]=Zobrazí tučňáky chodící pod desktopu(jako xpenguins).
Comment[de]=Modul, um lustige Pinguine auf den Scchreibtisch anzuzeigen.
Comment[el]=Άρθρωμα που εμφανίζει όμορφους πιγκουίνους που περπατάνε στην επιφάνεια εργασίας σου.
Comment[eo]=<br>Modulo kiu vidigas fantaziajn pingvenojn marŝante ĉirkaŭ via labortablo.
Comment[es]=Módulo para mostrar elegantes pingüinos paseando alrededor de su escritorio.
Comment[fi]=Moduuli joka näyttää hienoja pingviinejä kävelemässä ympäriinsä työpöydälläsi.
Comment[fr]=Affiche des manchots sympas qui se baladent sur votre bureau.
Comment[gl]=Módulo para mostrar elegantes pingüíns paseando ó redor do seu escritorio.
Comment[hu]=Ezzel a modullal az asztalunkra varázsolhatjuk a Pingvineket, vagy épp a Lemingeket :).
Comment[it]=Modulo per visualizzare simpatici pinguini che passeggiano attorno al vostro desktop.
Comment[ms]=Modul untuk papar penguin gedik yang berkeliaran disekitar desktop anda.
Comment[pt]=Módulo que mostra pinguins a passear na área de trabalho
Comment[ru]=Модуль показывает прикольных пингвинов на рабочем столе.
Comment[sr]=Јединица која приказује гиздаве Пингвине како шетају радном површи.
Comment[tr]=Masaüstünde gezinen eğlenceli penguenler gösteren modül.
Icon=e-module-penguins
X-Enlightenment-ModuleType=look
